.notebooks {
  background-color: #31363f;
  color: white;
  .notebooks-header {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    .notebooks-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h5 {
        padding: 0 10px;
        margin: unset;
      }
    }
    i.fa-plus {
      cursor: pointer;
    }
  }
  .list-notebook:hover {
    background-color: #25292e !important;
  }
  .list-notebook {
    padding: 10px 0 10px 30px;
  }
  .list-notebook.active {
    background-color: #131313;
  }
}

.context-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  padding-left: 0;
  margin: 0;
  position: absolute;
  list-style: none;
  z-index: 99;
}

.context-menu li {
  padding: 0.2em 1em;
  color: #000;
  cursor: pointer;
  background-color: #fff;
}

.context-menu li:hover {
  background-color: #f2f2f2;
}
